<div class="form-panel col-sm-8">
  <h4>Nuevo Materia</h4>
</div>

<%= render 'form', matter: @matter %>

<div class="form-panel col-sm-8">
	<%= link_to 'Regresar', matters_path, class: "btn btn-primary" %>
</div>
