<div class="form-panel col-sm-8">
	<p>
	  <strong>Nombre:</strong>
	  <%= @matter.name %>
	</p>

	<%= link_to 'Modificar', edit_matter_path(@matter), class: "btn btn-primary" %> |
	<%= link_to 'Regresar', matters_path, class: "btn btn-primary" %>
</div>
