<div class="form-panel col-sm-8">
	<p>
	  <strong>Nombre:</strong>
	  <%= @state.name %>
	</p>

	<%= link_to 'Modificar', edit_state_path(@state), class: "btn btn-primary" %> |
	<%= link_to 'Regresar', states_path, class: "btn btn-primary" %>
</div>
