<div class="col-sm ">
	<div class="card shadow mb-4">

	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
  		<h6 class="m-0 font-weight-bold text-primary">New Customer</h6>
	</div>

	<%= render 'form', customer: @customer %>

	<%= link_to 'Back', customers_path %>
	</div>
</div>
