<div class="form-group col-sm-8">
	<p>
  		<strong>Name:</strong>
  		<%= @court.name %>
	</p>

	<%= link_to 'Modificar', edit_court_path(@court), class: "btn btn-primary" %> |
	<%= link_to 'Regresar', courts_path, class: "btn btn-primary" %>
</div>
