<div class="form-group col-sm-8">
	<h4>Editar Distritos</h4>
</div>

<%= render 'form', district: @district %>
<div class="form-group col-sm-8">
	<%= link_to 'Consultar', @district, class: "btn btn-primary" %> |
	<%= link_to 'Regresar', districts_path, class: "btn btn-primary" %>
</div>
