<div class="form-group col-sm-8">

	<p>
	  <strong>Nombre:</strong>
	  <%= @district.name %>
	</p>
	<p>
	  <strong>Estados:</strong>
	  <%= @district.state.name %>
	</p>

	<%= link_to 'Modificar', edit_district_path(@district), class: "btn btn-primary" %> |
	<%= link_to 'Regresar', districts_path, class: "btn btn-primary" %>
<div class="form-group col-sm-8">
