<div class="form-group col-sm-8">
	<h4>Nuevo Expediente</h4>
</div>

<%= render 'form', expedient: @expedient %>

<div class="form-group col-sm-8">
	<%= link_to 'Regresar', expedients_path, class: "btn btn-primary" %>
</div>
