<div class="form-group col-sm-8">
	<h3>Nuevo Tipo Cliente</h3>
</div>

<%= render 'form', customer_type: @customer_type %>

<div class="form-group col-sm-8">
	<%= link_to 'Regresar', customer_types_path %>
</div>
