<div class="form-group col-sm-8">
	<h4>Editar Acciones</h4>
</div>

<%= render 'form', act: @act %>

<div class="form-group col-sm-8">
	<%= link_to 'Consultar', @act, class: "btn btn-primary" %> |
	<%= link_to 'Regresar', acts_path, class: "btn btn-primary" %>
</div>
