<div class="form-group col-sm-8">
	<h3>Nuevo Acciones</h3>
</div>

<%= render 'form', act: @act %>
<div class="form-group col-sm-8">
	<%= link_to 'Regresar', acts_path, class: "btn btn-primary" %>
</div>
