
<div class="form-group col-sm-8">
	<p>
	  <strong>Name:</strong>
	  <%= @act.name %>
	</p>
</div>

<%= link_to 'Modificar', edit_act_path(@act), class: "btn btn-primary" %> |
<%= link_to 'Regresar', acts_path, class: "btn btn-primary" %>
